@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

$primary-bgcolor: #25274D;
$secondary-bgcolor: #e3e4e6;
$header-footer-bgcolor: #2e9cca;//#648ca6;   // or #0ca1e8  
$main-header-bgcolor: #e3e4e6;
$primary-fontcolor: #464866;
$secondary-fontcolor:  black;
$tertiary-fontcolor: #ddd;
$primary-fontstyle: 'Merriweather', serif;
$secondary-fontstyle: 'Montserrat', sans-serif;
// keyframe colours:
$primary-index-bgcolor: #25274d;  // #1979ff;      // or #0000ff
$secondary-index-bgcolor: #29648a;//#0d19ff;    // or #5F4AD3  or #0c3fe8

@import "partials/index";
@import "partials/contact";
@import "partials/projects";

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  min-width: 204px;
}

// Header
.header {
  grid-area: header;
  background-color: $header-footer-bgcolor;
  padding: 0 16px;
  position: fixed;
  height: 60px;
  width: 100%;
}

// NavBar
/* Style the navigation menu */         // Actual drop down list
.topnav {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-area: topnav;
  background-color: $header-footer-bgcolor;
  font-style: $primary-fontstyle; 
  color: $tertiary-fontcolor;
  position: absolute;
  margin-top: 50px;     
  margin-left: -20px; 

}

// /* Hide the links inside the navigation menu (except for logo/home) */   
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */     // Links of drop down menu text style
.topnav a {
  color: $tertiary-fontcolor;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: relative;
}

/* Style the hamburger menu */      // hamburger menu icon
.topnav a.icon {
  background: $header-footer-bgcolor;
  display: flex;
  position: fixed;    
  // left: 5px;
  top: 8px;
  width: 51px;
  text-align: left;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Add a background color on mouse-over */
#myLinks :hover {
  background-color: $header-footer-bgcolor;
  color: $tertiary-fontcolor;
  cursor: pointer;
}

// Main
.main {
  grid-area: main;
  background-color: $primary-bgcolor;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
  height: 20px;
  background-color: $main-header-bgcolor;
}

.main-header__heading {
  color: $primary-fontcolor;
  font-family: $primary-fontstyle;
  font-size: 100%;
}

.main-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card {
  width: 100%;
  background-color: $secondary-bgcolor;
  margin-bottom: 20px;
  padding: 24px;
  box-sizing: border-box;
  color: $secondary-fontcolor;
  font-family: $secondary-fontstyle; 
  font-size: 80%;
  margin: 10px 20px;
  height: 25%;

}

// Footer
.footer {
  grid-area: footer;
  background-color: $header-footer-bgcolor;                  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-github, .fa-linkedin-in, .fa-twitter {
  color: $tertiary-fontcolor;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 8px;
}

#footer_copyright {
  font-size: 4%;
  font-style: $secondary-fontstyle;
  color: $tertiary-fontcolor;
}

// Cards Responsive Layout:
@media screen and (max-width: 600px) {
  .main-cards {
    flex-direction: column; 
  }
  .main-cards>* {
    width: 100%;
  }
}