$primary-bgcolor: #8fd4d9;
$secondary-bgcolor: #82bef6;
$header-footer-bgcolor:  #648ca6;
$main-header-bgcolor: #e3e4e6;
$primary-fontcolor: slategray;
$secondary-fontcolor: black;
$tertiary-fontcolor: #ddd;
// for this page:
$primary-index-bgcolor: #17ADD2;
$secondary-index-bgcolor: #5F4AD3;

  //Keyframes
  #intro-main {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes pulse {
    0%, 100% {
      background-color: $primary-index-bgcolor;
    }
    50% {
      background-color: $secondary-index-bgcolor;
    }
  }
  
#intro-message  {
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px black;
    text-align: center;
}