// $primary-bgcolor: #8fd4d9;
// $secondary-bgcolor: #82bef6;
// $header-footer-bgcolor:  #648ca6;
// $main-header-bgcolor: #e3e4e6;
// $primary-fontcolor: slategray;
// $secondary-fontcolor: black;
// $tertiary-fontcolor: #ddd;
// $primary-fontstyle: 'Merriweather', serif;
// $secondary-fontstyle: 'Montserrat', sans-serif;
// // Key-frames colours:
// $primary-index-bgcolor: #1979ff;      // or #0000ff
// $secondary-index-bgcolor: #0d19ff;    // or #5F4AD3  or #0c3fe8

  //Keyframes
  #intro-main {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes pulse {
    0%, 100% {
      background-color: $primary-index-bgcolor;
    }
    50% {
      background-color: $secondary-index-bgcolor;
    }
  }
  
#intro-message  {
    color: $tertiary-fontcolor;
    font-size: 140%;
    text-shadow: 2px 1px black;
    text-align: center;
    font-style: $secondary-fontstyle;
}