#about-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2px;
}

#about-icons i {
    padding-right: 13px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 13px;
    color: $secondary-fontcolor;
} 