//Contact form media queries:

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
@media screen and (min-width: 768px) {
  // .topnav {
  //   display: flex;
  //   flex-direction: row;
  // }

  // .topnav_close-icon {
  //   visibility: hidden;
  // }

  .main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
       
  }

  .card {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card:first-child {
    float: left;
  }
      
  .card:nth-child(2) {
    float: right;
  }

  .card:last-child {
    float: right;
  }

  // .col-25, .col-75, input[type=submit] {
  //   width: 100%;
  //   margin-top: 0;
  // }
}