#image-card img {
    display: flex;
    width: 100%;
}

#image-card {
    position: relative;
    width: 35%;
    padding: 0px;
    float: right;
}

figcaption {
    position: absolute;
    padding-left: 20px;
    width: 200px;
    height: auto;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
	opacity:0.7;
    }

// #terminal-app {
//     float: right;
//     padding: 3%;
// }

// .image-holder {
//     display: inline-table;
//     width: 1%;
//     background: hotpink;
//     padding: .5em;
//     border: 1px solid #ccc;
//     margin: 0 .5em;
// }

// .image-holder .img {
//     display: flex;
//     width: 100%;
//     position: absolute;
//     border: 1px solid #ccc;
// }

// .image-holder figcaption {
//     background: red;
//     opacity: 0.7;
//     font-weight: bold;
//     text-align: center;
//     padding: 0 .5em;
// }

