@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "partials/about";
@import "partials/projects";
@import "partials/index";
@import "partials/contant";
@import "partials/mediaqueries";


$primary-bgcolor: #8fd4d9;
$secondary-bgcolor: #82bef6;
$header-footer-bgcolor:  #648ca6;
$main-header-bgcolor: #e3e4e6;
$primary-fontcolor: slategray;
$secondary-fontcolor: black;
$tertiary-fontcolor: #ddd;

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47px 1fr 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  min-width: 204px;
}

// Header
.header {
  grid-area: header;
  background-color: $header-footer-bgcolor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

// NavBar
/* Style the navigation menu */         // Actual drop down list
.topnav {
  overflow: hidden;
  background-color: $header-footer-bgcolor;
  position: relative;
  margin-top: 230px;     
  margin-left: -20px;  
}

// /* Hide the links inside the navigation menu (except for logo/home) */   
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */     // Links of drop down menu text style
.topnav a {
  color: $tertiary-fontcolor;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;  
}

/* Style the hamburger menu */      // Drop down menu box
.topnav a.icon {
  background: $header-footer-bgcolor;
  display: block;
  position: fixed;    
  left: 0;
  top: 0;
  width: 51px;
  text-align: left;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: $header-footer-bgcolor;
  color: $tertiary-fontcolor;
}

// /* Style the active link (or home/logo) */         DONT THINK I NEED THIS
// .active {
//   color: hotpink;
// }

// Main
.main {
  grid-area: main;
  background-color: $primary-bgcolor;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
  height: 20px; /* Force our height since we don't have actual content yet */
  background-color: $main-header-bgcolor;
  color: $primary-fontcolor;
}

// Footer
.footer {
  grid-area: footer;
  background-color: $header-footer-bgcolor;                  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-github, .fa-linkedin-in, .fa-twitter {
  color: $secondary-fontcolor;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
}

#footer_copyright {
  font-size: 45%;
}